{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="" />
  <meta name="description" content="">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700" rel="stylesheet">

  <!-- Ionic Icons -->
  <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />

  <title>Real Estate Template | Themes Bootstrap</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg fixed-top">
    <a href="{% url 'userpanel:userlogin' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click here to Login">
    <img src="{% static 'assets/images/profile.png' %}" class="img-fluid navbar-brand header-logo"
        alt="profile image"  style="width: 40px; height: 40px; object-fit:contain;" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="icon ion-md-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'sitevisitor:sitehome' %}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'userpanel:register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#properties">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contact us</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="https://wa.me/918138875720"><i class="icon ion-logo-whatsapp"></i></a>
        </li>
      </ul>
    </div><!-- End collapse -->
  </nav><!-- End navbar -->

  {% if messages %}
  {% for message in messages %}
      <script>
          alert('{{ message }}')
      </script>
  {% endfor %}
  {% endif %}

  {% block content %} {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>