{% extends 'userpanel/userbase.html' %}
{% block title %}
Change Password
{% endblock %}

{% block content %}
  <style>
    body {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    .form-container {
      background-color: rgba(255, 255, 255, 0.9);
      width: 400px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .form-container h1 {
      margin-bottom: 20px;
      font-size: 28px;
      color: #4a4a4a;
      text-align: center;
    }

    .form-container form {
      width: 100%;
    }

    .form-container input[type="password"] {
      width: 100%;
      padding: 12px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    .form-container button {
      width: 100%;
      background-color: #007bff;
      border: none;
      color: white;
      padding: 10px 15px;
      margin-top: 10px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .form-container button:hover {
      background-color: #0056b3;
    }

    .form-container a {
      display: block;
      text-align: center;
      margin-top: 10px;
      color: #007bff;
      text-decoration: none;
    }

    .form-container a:hover {
      text-decoration: underline;
    }

    .form-container p {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
      color: #555;
    }

    @media (max-width: 768px) {
      .form-container {
        width: 90%;
        padding: 20px;
      }

      .form-container h1 {
        font-size: 24px;
      }
    }
  </style>

  <div class="form-container">
    <form method="post" class="m-3" enctype="multipart/form-data" style="color: black;">
      <h1>Change Password</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  
{% endblock %}
